mixin sharing()

	+b.sharing
		+e('ul').list
			+e('li').item
				+e('a').link(href='#')
					+icon('fb')
			+e('li').item
				+e('a').link(href='#')
					+icon('vk')
			+e('li').item
				+e('a').link(href='#')
					+icon('ok')
			+e('li').item
				+e('a').link(href='#')
					+icon('tw')