.quote
	position absolute
	top 0
	left 0
	right 0
	bottom 0

	&__wrap
		position relative
		&::before
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height 100%

	&__paragraph
		position absolute
		font-family $HelveticaNeueCyrR
		font-size w(13)
		line-height w(16)
		+below(768px)
			font-size wm(9)
			line-height wm(13)