@font-face
	font-family 'HelveticaNeueCyr-Roman'
	src url('../../fonts/HelveticaNeueCyr-Roman.woff') format('woff')

@font-face
	font-family 'HelveticaNeueCyr-Light'
	src url('../../fonts/HelveticaNeueCyr-Light.woff') format('woff')

@font-face
	font-family 'HelveticaNeueCyr-Medium'
	src url('../../fonts/HelveticaNeueCyr-Medium.woff') format('woff')

@font-face
	font-family 'HelveticaNeueCyr-ThinItalic'
	src url('../../fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff')

@font-face
	font-family 'HelveticaNeueCyr-Bold'
	src url('../../fonts/HelveticaNeueCyr-Bold.woff') format('woff')

@font-face
	font-family 'Curbe-Curbe-Trial'
	src url('../../fonts/Curbe-Curbe-Trial.woff') format('woff')

@font-face
	font-family 'Alienscows-Trial'
	src url('../../fonts/Alienscows-Trial.woff') format('woff')
