$HelveticaNeueCyrR = 'HelveticaNeueCyr-Roman', sans-serif
$HelveticaNeueCyrL = 'HelveticaNeueCyr-Light', sans-serif
$HelveticaNeueCyrM = 'HelveticaNeueCyr-Medium', sans-serif
$HelveticaNeueCyrTI = 'HelveticaNeueCyr-ThinItalic', sans-serif
$HelveticaNeueCyrB = 'HelveticaNeueCyr-Bold', sans-serif
$Curbe = 'Curbe-Curbe-Trial', serif
$Alienscows = 'Alienscows-Trial', serif
