.header
	&__wrap
		padding w(40) w(300) w(10)
		display flex
		flex-flow column nowrap
		align-items center
		+below(768px)
			padding wm(20) wm(15)

	&__text
		margin-bottom w(103)
		font-family $HelveticaNeueCyrL
		font-size w(16)
		letter-spacing 0.6em
		color #344442
		+below(768px)
			display none

	&__logo
		margin-bottom w(97)
		align-self flex-start
		width w(240)
		+below(768px)
			margin-bottom wm(125)
			width wm(120)

	&__sponsor
		position relative
		width w(250)
		left w(15)
		+below(768px)
			align-self flex-start
			width wm(135)
			left 0