.card
	position absolute
	top 0
	left 0
	right 0
	bottom 0

	&__wrap
		position relative

	&__photo
		width 100%

	&__theme
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		font-family $Curbe
		font-size w(24)
		color #5AB0D4
		font-weight bold
		+below(768px)
			font-size wm(18)

	&__hero
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		font-family $HelveticaNeueCyrR
		font-size w(18)
		+below(768px)
			font-size wm(14)
		& span 
			font-weight bold