mixin scanner()

	+b('section').scanner
		+e.wrap
			+e('p').title CКАННЕР<br><span>здоровья волос</span>
			+e('p').text По мнению трихологов, волосы могут быть красивыми и здоровыми вне зависимости от их типа и структуры — при условии регулярной диагностики. Она позволяет купировать проблему на стадии зарождения и предотвратить неприятные последствия вплоть до алопеции. Нет времени на визит в клинику? Сканер здоровья волос даст вам исчерпывающие рекомендации с учетом индивидуальных особенностей волос и кожи головы. Просто ответьте на 5 вопросов.
