mixin stories()

	+b('section').stories
		+e.content
			+e('h2').title КАК ПРАВИЛЬНО?
			+e('p').text Спросим наших героинь и разложим им бьюти-привычки по полочкам!
			+e.decoration
				+e('img')(src='./images/stories-decoration.png').image
				+e.wrap
					+e('p').copy В Новый год со
					+e('p').copy ЗДОРОВЫМИ
					+e('p').copy волосами
			+e.story._1
				+e.card
					+card({
						id: 1,
						theme: 'Ежедневное мытье головы',
						hero: '<span>Эллис Гергедава</span>, фотограф'
					})
				+e.quote
					+quote({
						paragraphs: [
							'К своим волосам я отношусь очень трепетно: не окрашиваю и пытаюсь им дать хороший уход. По природе они пористые и тяжелые, поэтому раз в 4 месяца я хожу на процедуру кератинового укрепления. После этого волосы становятся ухоженными и ручными.',
							'Я мою голову каждый день и в своей рутине использую щадящие средства: натуральные кокосовые шампуни и бессульфатныебальзамы. На полке в ванной также стоит Низорал, который спасает, если внезапно появляются проблемы с кожей головы. С дискомфортом и шелушением шампунь справляется с одного-двух применений. Кроме того, использую его для профилактики появления перхоти - 1 раз в две недели. Важный этап моего ухода - маска, ее делаю раз в три дня. У меня нет проблем с волосами и кожей головы, и я уверена, что это результат правильного ухода.',
							'Что касается укладки, то тут тоже я стараюсь дать волосам только самое необходимое. Из стайлинга использую разве что термозащитный спрей и мое любимое аргановое масло по всей длине. После сушки еще раз наношу масло - но уже только на кончики. Обычно я использую для укладки фен, но довольно часто также ложусь спать с мокрой головой. Благодаря этому на утро получаю мягкие и пушистые волосы с естственной волной.'
						]
					})
				+e.expert
					+expert(
						'Эллис вывела собственную гармоничную формулу ухода за волосами.  Реше-ние любить, принимать их особенности, данные природой, щадить, прислу-шиваться к тому, как они отвечают на различные воздействия, а волосы отве-тят взаимностью. Процедуру кератинового выпрямления нельзя назвать ле-чением волос, но для плотных вьющихся волос это действительно может быть хорошим способом справиться с пушистостью. Осторожность при выборе про-цедуры кератинового выпрямления и схожих процедур (нанопластика, лами-нирование, ботокс для волос) следует соблюдать девушкам с тонкими воло-сами или поврежденными обесцвечиванием, солнцем, термическими уклад-ками.Не только качество волос, но и состояние кожи головы требует внима-ния. Практически половина взрослых сталкивается с проблемой перхоти и се-борейного дерматита. Их появление связано с ростом на коже непатогенного дрожжевого грибка. В этой связи средства с противогрибковым эффектом (как шампунь Низорал) могут стать решением в лечении и профилактике этой проблемы.'
					)
			+e.story._2
				+e.card
					+card({
						id: 2,
						theme: 'Окрашивание и частые укладки',
						hero: '<span>Катя Лаппо</span>, модель'
					})
				+e.quote
					+quote({
						paragraphs: [
							'Мои волосы были близки к идеалу, когда я училась в Финляндии пол года. Великолепная экология, натуральные продукты и отсутствие работы - и через 6 месяцев я превратилась в Рапунцель с шикарной шевелюрой. Год назад для одной из съемок мне сделали окрашивание в технике шатуш, чем серьезно повредилимои изначально достаточно густые волосы. Сейчас я затонировалась в свой натуральный темно-русый цвет. Он постепенно смывается и получается поразительно красивый эффект: будто слегка выгоревшие на солнце пряди деликатно «просвечивают» сквозь общую массу темных волос.', 
							'Часто волосы подвержены серьезному стрессу на работе. Тонна укладочных средств, начесы, смена причесок, горячие инструменты для стайлинга - главные испытания на съемочной площадке.',
							'Я не слишком довольна состоянием волос. Глобальных проблем нет, но присутствуют такие неприятности, как сухость и ломкость, волосы быстро теряют свежий вид. Спасаюсь от этого регулярными стрижками и салонными процедурами.'
						]
					})
				+e.expert
					+expert(
						'Компромиссы, на которые приходится идти Кате знакомы многим девушкам. Термический стайлинг, начесы, к сожалению, не способствуют здоровью стержней волос. Специальные средства защиты волос от перегрева, современные фены и плойки с регуляцией степени нагрева и его распределения на волосах несколько предупреждают их травматизацию. Однако критичным для волос может стать даже однократное слишком  агрессивное воздействие, как это случилось у Кати: окрашивание в модной техникенегативно сказалось на качестве волос. Но для чего нужны волосы, как не для того, чтобы носить их в красивых прическах, создавая индивидуальный образ и стиль?Главное, чтобы манипуляции с волосами не наносили вреда самим волосяным фолликулам, производящим волосы. Не все знают, что прически с натяжением волос (пучек, наращивание, афрокосы) могут привести к необратимой потере волос. Так, при регулярном ношении модной прически - конский хвост,граница роста волос в местах натяжения (в области лба и висков) может со временем сдвинуться.  Это нередкое состояние трихологи называют тракционной алопецией.'
					)
			+e.story._3
				+e.card
					+card({
						id: 3,
						theme: 'Выпрямление и брашинг',
						hero: '<span>Даша Евтянова</span>, блогер'
					})
				+e.quote
					+quote({
						paragraphs: [
							'У меня очень длинные пористые и вьющиеся волосы, которые я время от времени тонирую прозрачным холодным оттенком, чтобы заглушить природные красные и жёлтые пигменты. Я могу позволить себе мыть голову раз в два-три дня - если нет фотосессий и съемок такую паузу волосы выдерживают с легкостью.<br>Так как волосы сильно вьются и очень густые, то я обычно их выпрям-ляю с помощью фена и расчёски. Укладка на брашинг - спасение для меня, особенно, в компании фена с функцией ионизации, потому что так волосы меньше пушатся. Так как масел в моем уходе очень много, то с секущимися кончиками у меня проблем нет, зато от регулярной сушки горячим феном периодически бывает сухость кожи головы и перхоть. Если такое случается, то я сразу прибегаю к специализированным средствам: либо интенсивным маскам для кожи головы, либо аптечным продуктам, например, шампуню Низорал.<br>Если у меня запланирована съемка, предполагающая укладку, то я морально готовлюсь и к тому, что во время следующего мытья головы придётся использовать восстанавливающие средства. Когда стилисты используют сильный стайлинг, то лучше всего его потом смывают с моих волос детокс-шампуни и серьёзные средства с сульфатами.<br>В целом я сейчас очень довольна состоянием моей копны, за исключением челки. Короткие волосы сильнее страдают, в том числе от выпрямления, ломаются и пушатся.'
						]
					})
				+e.expert
					+expert(
						'Очищение головы и волос после использования большого количества стайлинговых средств может быть сложной задачей, с которой могут не справятся в достаточной мере мягкие шампуни на основе бессульфатных поверхностно-активных веществ (ПАВ). Адекватное помощью волосам после применения сульфатных шампуней для очистки от стайлинга могут стать профессиональные бальзамы и маски, имеющие в составе нейтрализующие отрицательный заряд на волосах катинные ПАВы (например, cetrimonium chloride), а также такие защитные и питательные компоненты, как липиды, гидролизаты белков, силиконы. Лечебно-профилактический шампунь Низорал помимо основного антисеборейного действия имеет хорошие моющие свойства, обеспечивающие комфортное использование. Кожа головы при его применении не пересушивается.'
					)
			+e.story._4
				+e.card
					+card({
						id: 4,
						theme: 'Сон с мокрой головой',
						hero: '<span>Вероника Романова</span>, телеведущая'
					})
				+e.quote
					+quote({
						paragraphs: [
							'В 2016 году я была признана обладательницей самых длинных волос Рунета. Иногда мне кажется, что не я управляю ими, а они мной. Я не могу незапланированно поехать на мероприятие, если  не успеваю помыть и высушить волосы. Мне не нравится использовать фен, поэтому волосы им стараюсь не сушить: просто мою голову на ночь и ложусь спать. За 6-8 часов волосы успевают высохнуть. Я отращиваю их с 15 лет - с тех пор, как в моей жизни появилась любимая работа. Почти в каждом новом телевизионном проекте меня сначала пытаются подстричь: не все стилисты универсальные профессионалы, многие просто  боятся работать с такой длиной. Да, она довольно экстремальна для кадра на информационном телевидении. Но в итоге мы со стилистом все же придумываем какие-то строгие собранные варианты.  Мы не портим волосы плойками и утюжками: я не очень люблю начёсы и лаки-фиксаторы, а потому иногда прошу делать укладку на влажные волосы.'
						]
					})
				+e.expert
					+expert(
						'Как получить такие красивые волосы? Вероника не скрывает, отрастить волосы и сохранять их в хорошем состоянии помогает бескомпромиссный выбор в пользу бережного ухода. Это поиск вариантов не слишком стягивающих волосы причесок, нетравмирующих способов укладок, естественное высушивание. Трихологи такой уход за волосами поддерживают.Вероника - прекрасный пример, показывающий, что отращивание и сохранение красоты волос – это длинная дистанция, требующая большого терпения и труда. Справедливости ради надо отметить и значение генетики, определяющей густоту, структуру стержней и максимально возможную длину волос. Так, продолжительность фазы роста волоса на голове - анаген может варьировать от 1 до 7 лет. Таким образом, учитывая скорость удлинения волос равную 1 см в месяц, максимальная длина волос может очень индивидуально различаться и составлять 12-84 см.'
					)
			+e.story._5
				+e.card
					+card({
						id: 5,
						theme: 'Завивка волос и утюжок',
						hero: '<span>Ольга Шеина</span>, актриса'
					})
				+e.quote
					+quote({
						paragraphs: [
							'Обожаю кудри! Это же просто радость на голове! Помните Ирину Му-равьеву из фильма «Карнавал», когда она сделала себе афро? Ох, как я была бы рада, чтобы для меня это было органично. Еще в детстве у меня в арсенале были все виды бигудей, которые только возможны. Сейчас, чаще всего, я пользуюсь плойкой с объемным конусом, который даёт возможность за пару минут придать объём и сделать красивые немного небрежные локоны. На кастинги я всегда делаю именно такую укладку.<br>Из-за прошлых частых окрашиваний у меня достаточно слабые, сухие и ломкие кончики, поэтому я также довольно часто пользуюсь плойкой-утюжком, чтобы пригладить и убрать небольшую «пушистость». Чтобы как-то повлиять на состояние волос, я ежемесячно их подстригаю, каждую неделю наношу увлажняющую маску и каждый день перед укладкой использую термозащиту. Несмотря на все эти ухищрения, у меня не получается отрастить длину: поврежденные участки постоянно обламываются.'
						]
					})
				+e.expert
					+expert(
						'Ольга  сама прекрасно определила слабые места в уходе заволосами. Необходимость ок-рашивания, регулярного использования плоек и утюжков можно отнести к издержкам профессии, которые, к сожалению, не добавляют здоровья волосам. Помимо внимательного отношения к выбору уходовых и защитных средств для волос, иногда стоит исключить внутренние причины, приводящие к потере и ломкости волос. Дефицит железа, белка, нарушенная работа щитовидной железы и множество других состояний могут привести к  выпадению и истончению волос. Ускорить рост волос могут  специальные косметические и лекарственные лосьоны, физиотерапевтические и инъекционные методы (применение мезотерапевтических препаратов, богатой тромбоцитами плазмы).'
					)